In [27]:
import pandas as pd
df1 = pd.read_csv('AWCustomers.csv')
print(df1.head())
print(df1.columns)

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [17]:
selected_cols = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag', 
                 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

df_selected = df1[selected_cols]
df_selected.head()

,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,Bachelors,Clerical,M,M,1,3,0,1,81916
1,Partial College,Clerical,M,M,1,2,1,2,81076
2,Bachelors,Clerical,F,S,0,3,0,0,86387
3,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,Partial College,Skilled Manual,M,S,1,1,0,0,51804

In [19]:
attribute_types = {
    'YearlyIncome': ('Continuous', 'Ratio'),
    'Gender': ('Discrete', 'Nominal'),
    'MaritalStatus': ('Discrete', 'Nominal'),
    'TotalChildren': ('Discrete', 'Ratio'),
    'NumberChildrenAtHome': ('Discrete', 'Ratio'),
    'Education': ('Discrete', 'Ordinal'),
    'Occupation': ('Discrete', 'Nominal'),
    'HomeOwnerFlag': ('Discrete', 'Nominal (Binary)'),
    'NumberCarsOwned': ('Discrete', 'Ratio'),
    'Age': ('Continuous', 'Ratio'),
    'CommuteDistance': ('Discrete', 'Ordinal'),
    'Purchased Bike': ('Discrete', 'Nominal (Binary)')
}

df_types = pd.DataFrame([
    {'Attribute': col,
     'Pandas dtype': df_selected[col].dtype,
     'Data Type': attribute_types[col][0],
     'Measurement Scale': attribute_types[col][1]}
    for col in selected_cols
])

print(df_types)

              Attribute Pandas dtype   Data Type Measurement Scale
0             Education       object    Discrete           Ordinal
1            Occupation       object    Discrete           Nominal
2                Gender       object    Discrete           Nominal
3         MaritalStatus       object    Discrete           Nominal
4         HomeOwnerFlag        int64    Discrete  Nominal (Binary)
5       NumberCarsOwned        int64    Discrete             Ratio
6  NumberChildrenAtHome        int64    Discrete             Ratio
7         TotalChildren        int64    Discrete             Ratio
8          YearlyIncome        int64  Continuous             Ratio

In [25]:
df2 = pd.read_csv("AWSales.csv") 
print(df2.columns);
df = pd.merge(df1,df2,on="CustomerID")
buyers = df[df["BikeBuyer"] == 1]["YearlyIncome"]
non_buyers = df[df["BikeBuyer"] == 0]["YearlyIncome"]
print("\nAverage income of buyers:", buyers.mean())
print("Average income of non-buyers:", non_buyers.mean())

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')

Average income of buyers: 79653.9687099003
Average income of non-buyers: 64261.98687727825