In [56]:
import pandas as pd
data = {
    'Tid':      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund':   ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat':    ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [58]:
print(df.loc[[0,4,7,8]])

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [60]:
dataframe = pd.read_csv('stock_details.csv')
print(dataframe)

                             Date        Open        High         Low  \
0       2018-11-29 00:00:00-05:00   43.829761   43.863354   42.639594
1       2018-11-29 00:00:00-05:00  104.769074  105.519257  103.534595
2       2018-11-29 00:00:00-05:00   54.176498   55.007500   54.099998
3       2018-11-29 00:00:00-05:00   83.749496   84.499496   82.616501
4       2018-11-29 00:00:00-05:00   39.692784   40.064904   38.735195
...                           ...         ...         ...         ...
602957  2023-11-29 00:00:00-05:00   26.360001   26.397499   26.120001
602958  2023-11-29 00:00:00-05:00   27.680000   28.535000   27.680000
602959  2023-11-29 00:00:00-05:00   75.940002   76.555000   75.257500
602960  2023-11-29 00:00:00-05:00   45.230000   45.259998   44.040001
602961  2023-11-29 00:00:00-05:00   84.629997   84.995003   83.529999

             Close     Volume  Dividends  Stock Splits Company
0        43.083508  167080000       0.00           0.0    AAPL
1       104.636131   28123200       0.00           0.0    MSFT
2        54.729000   31004000       0.00           0.0   GOOGL
3        83.678497  132264000       0.00           0.0    AMZN
4        39.037853   54917200       0.04           0.0    NVDA
...            ...        ...        ...           ...     ...
602957   26.150000    1729147       0.00           0.0     PPL
602958   28.350000    1940066       0.00           0.0    FITB
602959   75.610001     298699       0.00           0.0     IFF
602960   44.209999    2217579       0.00           0.0     CCJ
602961   83.889999     830092       0.00           0.0     LYV

[602962 rows x 9 columns]

In [62]:
studentData = {
    # Nominal attributes
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['CS', 'Math', 'Physics', 'CS', 'Biology'],
    
    # Binary attributes
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'Pass': ['Yes', 'No', 'Yes', 'Yes', 'No'],
    
    # Ordinal attribute
    'Grade': ['High', 'Medium', 'Low', 'Medium', 'High'],
    
    # Numeric attributes
    'Age': [20, 22, 21, 23, 20],       # discrete
    'GPA': [3.8, 2.5, 3.2, 3.0, 3.9]   # continuous
}
df_1 = pd.DataFrame(studentData)
print(df_1)

      Name Department Gender Pass   Grade  Age  GPA
0    Alice         CS      F  Yes    High   20  3.8
1      Bob       Math      M   No  Medium   22  2.5
2  Charlie    Physics      M  Yes     Low   21  3.2
3    David         CS      M  Yes  Medium   23  3.0
4      Eva    Biology      F   No    High   20  3.9

In [64]:
df = pd.DataFrame(data)
rows_3_to_7 = df.iloc[3:8]
print("Rows from index 3 to 7: \n", rows_3_to_7, "\n")

Rows from index 3 to 7:
    Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

In [66]:
rows_4_to_8 = df.iloc[4:9]
print("Rows from index 4 to 8: \n", rows_4_to_8, "\n")
col_2_to_4 = df.loc[2:5]
print("Columns from index 2 to 4: \n", col_2_to_4, "\n")

Rows from index 4 to 8:
    Tid Refund Marital Status Taxable Income Cheat
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

Columns from index 2 to 4:
    Tid Refund Marital Status Taxable Income Cheat
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No

In [68]:
col_1_to_3 = df.iloc[:1:4]
print("Column index from 1 to 3: \n", col_1_to_3, "\n")

Column index from 1 to 3:
    Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No

In [70]:
df_2 = pd.read_csv("Iris.csv")
print(df_2.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [72]:
df = pd.read_csv("Iris.csv")
delete_row_4 = df.drop(index = 4)
print(delete_row_4)
delete_column_3 = df.drop(df.columns[3],axis=1)
print(delete_column_3)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
5      6            5.4           3.9            1.7           0.4
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
5       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[149 rows x 6 columns]
      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
4      5            5.0           3.6           0.2     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[150 rows x 5 columns]

In [74]:
df = pd.read_csv("employees.csv")
rows,cols = df.shape
print("Number of rows:",rows)
print("Number of columns:",cols)

Number of rows: 5
Number of columns: 10

In [76]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [78]:
print(df.describe(include='all'))

        Employee_ID   Name Department        Age       Salary  \
count      5.000000      5          5   5.000000      5.00000
unique          NaN      5          4        NaN          NaN
top             NaN  Alice         IT        NaN          NaN
freq            NaN      1          2        NaN          NaN
mean     103.000000    NaN        NaN  34.000000  60000.00000
std        1.581139    NaN        NaN   5.612486   7905.69415
min      101.000000    NaN        NaN  28.000000  50000.00000
25%      102.000000    NaN        NaN  29.000000  55000.00000
50%      103.000000    NaN        NaN  34.000000  60000.00000
75%      104.000000    NaN        NaN  38.000000  65000.00000
max      105.000000    NaN        NaN  41.000000  70000.00000

        Years_of_Experience Joining_Date Gender   Bonus    Rating
count              5.000000            5      5     5.0  5.000000
unique                  NaN            5      2     NaN       NaN
top                     NaN   15-03-2020   Male     NaN       NaN
freq                    NaN            1      3     NaN       NaN
mean               7.400000          NaN    NaN  5500.0  4.100000
std                3.847077          NaN    NaN  1000.0  0.494975
min                3.000000          NaN    NaN  4500.0  3.500000
25%                4.000000          NaN    NaN  5000.0  3.800000
50%                8.000000          NaN    NaN  5000.0  4.000000
75%               10.000000          NaN    NaN  6000.0  4.500000
max               12.000000          NaN    NaN  7000.0  4.700000

In [80]:
print("First 5 rows:\n",df.head)
print("Last 3 rows:\n",df.tail(3))

First 5 rows:
 <bound method NDFrame.head of    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   15-03-2020  Female   5000     4.5
1   19-07-2017    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5  >
Last 3 rows:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5

In [82]:
avg_salary = df['Salary'].mean()
print("Average Salary:",avg_salary)
total_bonus = df['Bonus'].sum()
print("Total Bonus:", total_bonus)
youngest_age = df['Age'].min()
print("Youngest Employee Age:",youngest_age)
highest_rating = df['Rating'].max()
print("Highest Performance rating:", highest_rating)

Average Salary: 60000.0
Total Bonus: 27500
Youngest Employee Age: 28
Highest Performance rating: 4.7

In [84]:
sort_values = df.sort_values(by = 'Salary',ascending=False)
print("Sort values by salary:\n",sort_values)

Sort values by salary:
    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   19-07-2017    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
4   25-11-2010    Male   5000     3.5
3   10-02-2021  Female   4500     4.7
0   15-03-2020  Female   5000     4.5

In [86]:
def categorize(rating):
    if rating>=4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"
df["Category"] = df["Rating"].apply(categorize)
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating   Category
0   15-03-2020  Female   5000     4.5  Excellent
1   19-07-2017    Male   7000     4.0       Good
2   01-06-2013    Male   6000     3.8    Average
3   10-02-2021  Female   4500     4.7  Excellent
4   25-11-2010    Male   5000     3.5    Average

In [88]:
print(df.isnull())

   Employee_ID   Name  Department    Age  Salary  Years_of_Experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining_Date  Gender  Bonus  Rating  Category
0         False   False  False   False     False
1         False   False  False   False     False
2         False   False  False   False     False
3         False   False  False   False     False
4         False   False  False   False     False

In [90]:
df.rename(columns = {"Employee_ID":"ID"}, inplace = True)
print(df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   15-03-2020
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
3  104    Diana  Marketing   28   55000                    3   10-02-2021
4  105   Edward      Sales   38   60000                   12   25-11-2010

   Gender  Bonus  Rating   Category
0  Female   5000     4.5  Excellent
1    Male   7000     4.0       Good
2    Male   6000     3.8    Average
3  Female   4500     4.7  Excellent
4    Male   5000     3.5    Average

In [92]:
emp_experience = df[df['Years_of_Experience'] > 5]
print("Employees with more than 5 years of experience:\n",emp_experience)
it_emp = df[df['Department'] == 'IT']
print("Employees in IT department:\n", it_emp)

Employees with more than 5 years of experience:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
4  105   Edward      Sales   38   60000                   12   25-11-2010

  Gender  Bonus  Rating Category
1   Male   7000     4.0     Good
2   Male   6000     3.8  Average
4   Male   5000     3.5  Average
Employees in IT department:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013

  Gender  Bonus  Rating Category
1   Male   7000     4.0     Good
2   Male   6000     3.8  Average

In [94]:
df["Tax"] = df["Salary"]*0.10
print(df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   15-03-2020
1  102      Bob         IT   34   70000                    8   19-07-2017
2  103  Charlie         IT   41   65000                   10   01-06-2013
3  104    Diana  Marketing   28   55000                    3   10-02-2021
4  105   Edward      Sales   38   60000                   12   25-11-2010

   Gender  Bonus  Rating   Category     Tax
0  Female   5000     4.5  Excellent  5000.0
1    Male   7000     4.0       Good  7000.0
2    Male   6000     3.8    Average  6500.0
3  Female   4500     4.7  Excellent  5500.0
4    Male   5000     3.5    Average  6000.0

In [96]:
df.to_csv("employees_modified.csv", index=False)